/* CSS Variables */
:root {
  --light-blue: #6697bd;
  --mid-blue: #005292;
  --dark-blue: #002e55;
  --white: #f8f8ff;
}

/* Styles */

* {
    /* don't use '0px' or any other unit, if you set the value to zero */
    padding: 0;
    margin: 0;
    border: 0;
}

body {
  color: var(--white);
  background: #121212;
  font-family: sans-serif;
  font-size: 150%;
  margin: auto;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background is behind the content */
  background-image: url("./assets/pawel-czerwinski-nJX3ceE4zuU-unsplash.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.25;
}

.content-container {
  margin-top: 50px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 1; /* Ensure the background is behind the content */
  width: 100%;
  height: 100%;
  overflow-y: scroll; /*Enable vertical scrolling for content */
  max-width: 1280px;
}

.container {
  width: 80%;
  height: 100%;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(18,18,18,0.9);
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-container a {
  width: 80%;
  font-weight: bold;
  margin: .1em;
}

.links-container a:hover {
  background: var(--mid-blue);
}

.button{
  border:none;
  display:inline-block;
  padding:.25em .5em;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  border-style:solid;
  border-width:medium;
}

.profile-pic {
  border-radius:50%;
  border-style:solid;
  border-width:medium;
  border-color:var(--light-blue);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1em;
}

h1, h2, h3 {
  padding-bottom: .5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
}

.center {
    text-align: center;
}

a{
  color: var(--light-blue);
  text-decoration: none; /* Remove underline from links */
}

ul {
  list-style-position: inside;
  padding: 1em;
}

footer {
    margin-top: 50px;
  font-size: 75%;
  padding: 2em;
  color: var(--white);
  text-align: right;
}

.postscript {
  font-size: 75%;
  margin-top:.5em;
}
